@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --grid: #f1f1f110;
    --main-color: #f1f1f1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --grid: #10101010;
    --main-color: #101010;
  }
}

.gridBackground {
  background-image: linear-gradient(var(--grid) 0.1em, transparent 0.1em),
    linear-gradient(90deg, var(--grid) 0.1em, transparent 0.1em);
  background-size: 3em 3em;
}

.meshBackground {
  background-color: #711db0;
  background-size: contain;
  background-position: center;
  background-image: radial-gradient(at 61% 73%, #711db0 0%, transparent 60%),
    radial-gradient(at 24% 26%, #c21292 0%, transparent 50%),
    radial-gradient(at 51% 1%, #ef4040 0%, transparent 40%),
    radial-gradient(at 94% 97%, #ffa732 0%, transparent 30%);
}

.link {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: var(--main-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.link:not(:hover)::after {
  transform: scaleX(0);
  transform-origin: right;
}

.link.active::after {
  transform: none;
}

#logo {
  fill: var(--main-color);
  transition: all 0.3s ease;
  animation: rotate360 5s linear infinite;
  animation-play-state: paused;
}

#logo:hover {
  scale: 1.25;
  animation-play-state: running;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
