@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --grid: #f1f1f110;
    --main-color: #f1f1f1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --grid: #10101010;
    --main-color: #101010;
  }
}

/* Переменные для кастомных тем */
[data-theme="dark"] {
  --grid: #f1f1f110;
  --main-color: #f1f1f1;
}

[data-theme="light"] {
  --grid: #10101010;
  --main-color: #101010;
}

.gridBackground {
  background-image:
    linear-gradient(var(--grid) 0.1em, transparent 0.1em),
    linear-gradient(90deg, var(--grid) 0.1em, transparent 0.1em);
  background-size: 3em 3em;
}

.pointsBackground {
  @apply absolute inset-0 -z-10 h-full w-full bg-[radial-gradient(#353535_1px,transparent_1px)] [background-size:16px_16px];
}

.pinkBall {
  @apply absolute bottom-[-10%] left-[-30vw] size-[350px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(219,0,255,.3),rgba(255,255,255,0))] lg:bottom-[0%] lg:left-[-15%] lg:size-[500px]
}

.orangeBall {
  @apply absolute right-[-50%] top-[-10%] size-[350px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,165,0,.3),rgba(255,255,255,0))] lg:right-[-15%] lg:top-[5%] lg:size-[500px]
}

.link {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: var(--main-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.link:not(:hover)::after {
  transform: scaleX(0);
  transform-origin: right;
}

.link.active::after {
  transform: none;
}

#logo {
  fill: var(--main-color);
  transition: all 0.3s ease;
  animation: rotate360 5s linear infinite;
  animation-play-state: paused;
}

#logo:hover {
  scale: 1.25;
  animation-play-state: running;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
